<div class="container-fluid bg-main text-white p-0">    
    <div class="row no-gutters">
        <div class="col-12">
            <div class="d-flex flex-row">
                <div class="offset-lg-4 col-lg-4 offset-md-3 col-md-6 text-center py-2 mr-auto">
                    <h2 class="cursor-hov" [routerLink]="['/']"><!--Pure Power--> Company Logo</h2>                    
                </div>
                <div class="col-auto">        
                    <div class="row h-100 align-items-center">
                        <div class="col-6 bg-secondary text-center h-100" (click)="openCart()">
                            <div class="row h-100">
                                <div class="col-12 align-self-center">
                                    <i class="fas fa-shopping-basket text-white m-0 h3"></i>                                    
                                </div>                                
                            </div>                            
                        </div>
                        <div class="col-6 bg-warning text-center h-100" (click)="toggleMenu()">
                            <div class="row h-100">
                                <div class="col-12 align-self-center">
                                    <i [ngClass]="showMenu ? 'fa-times' : 'fa-bars'" class="fas text-white m-0 h3"></i>        
                                </div>
                            </div>                            
                        </div>
                    </div>                                                   
                </div>
            </div>
        </div>                    
    </div>
</div>

<cart *ngIf="showCart" (closed)="showCart = false"></cart>

<app-menu *ngIf="showMenu" (closeMenu)="toggleMenu()"></app-menu>