.bg-main {
    background-color: #713E5A;
}

.menu-items-parent div {
    text-align: center;
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
}

.menu-items-parent div, a {
    color: unset;
}

.header-underline {
    border-bottom: solid 3px white;
}