
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h3>Checkout</h3>            
            <div class="alert alert-danger" *ngIf="isLoading$ | async">
                <i class="fas fa-spin fa-cog"></i>
            </div>
            <table class="table mt-5" *ngIf="!(isLoading$ | async)">
                <tbody>
                    <tr>
                        <th>
                            
                        </th>
                        <th>
                            Item
                        </th>
                        <th class="text-right">
                            Size
                        </th>
                        <th class="text-right">
                            Price
                        </th>
                        <th class="text-right">
                            Qty
                        </th>
                        <th></th>
                        
                    </tr>
                    <tr *ngFor="let item of basket.items">
                        <td></td>
                        <td>{{item.name}}</td>
                        <td align="right"></td>
                        <td align="right">{{item.price}}</td>
                        <td align="right">{{item.qty}}</td>
                        <td align="right"><i class="fas fa-times text-danger cursor-hov" (click)="removeItem(item)"></i></td>
                    </tr>
                </tbody>
            </table>
            <div class="alert alert-info mt-4" *ngIf="!basket.items.length">
                No items in cart
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 my-5 text-center">
            <h3>Have we got your details right?</h3>
        </div>
        <div class="offset-1 col-4 p-3 shadow-lg rounded">
            <h4>Billing To:</h4>
            <p>P Sherman<br />
            42<br />
            Wallaby Way<br />
            Sydney</p>
            <p><i class="fas fa-phone"></i> 01952 123654</p>
            <p><i class="fas fa-envelope"></i> info@officesupplies.com</p>
        </div>
        <div class="offset-2 col-4 p-3 shadow-lg rounded">
            <h4>Delivering To:</h4>
            P Sherman<br />
            42<br />
            Wallaby Way<br />
            Sydney
        </div>
    </div>

</div>