<div class="container-fluid section shadow">
    <div class="row m-0">
        <div class="col-12 text-center">
            <h1>Unleash your Power.</h1>
        </div>
    </div>
</div>
<div class="container-fluid section shadow">
    <div class="row m-0">
        <div class="col-12 text-center">
            <h3>Products</h3>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-3" *ngFor="let product of products">
                    <div class="w-100 text-center">
                        <img src="https://via.placeholder.com/250" class="img-responsive rounded shadow" />
                    </div>                    
                    <div class="row no-gutters mt-2">
                        <div class="col-4 rounded">
                            <p><b>{{product.name}}</b></p>
                        </div>
                        <div class="col-4">
                            <p><b>&pound;{{product.price}}</b></p>
                        </div>
                        <div class="col-4 px-0">
                            <button class="btn btn-sm btn-primary float-right" (click)="addToCart(product)">Add to cart</button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        
    </div>
</div>
<button class="btn btn-warning" (click)="getCart()">get cart</button>