<div class="container-fluid section shadow">
    <div class="row m-0">
        <div class="col-12 text-center display-4">
            <ng-container *ngIf="productsLoading; else default">
                <i class="fas fa-cog fa-spin text-primary"></i> Loading products...
            </ng-container>
            <ng-template #default>
                Products
            </ng-template>            
        </div>
    </div>
   
    <div class="row mt-4" *ngIf="!productsLoading">      
        <div class="col-auto" *ngFor="let product of products">            
            <div class="text-center">
                <img src="https://via.placeholder.com/250" class="img-responsive rounded shadow cursor-hov" [routerLink]="['/product', {id: product.id}]" />
            </div>
            <div class="row no-gutters mt-2">
                <div class="col-4 rounded">
                    <p><b>{{product.name}}</b></p>
                </div>
                <div class="col-4">
                    <p><b>&pound;{{product.price}}</b></p>
                </div>
                <div class="col-4 px-0">
                    <button class="btn btn-sm btn-primary float-right" (click)="addToCart(product)">Add to cart</button>
                </div>
            </div>            
        </div>        
    </div>        
</div>